body {
  overflow-x: hidden;
}

header {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.8))), url(/res/img/img/header-bg.jpeg) fixed center no-repeat/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(/res/img/img/header-bg.jpeg) fixed center no-repeat/cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

header .banner-head::first-letter {
  font-family: "Great Vibes", cursive;
  font-size: 10rem;
  margin-right: 20px;
}

header .banner-head img {
  -webkit-animation: beating 2s infinite;
          animation: beating 2s infinite;
}

@-webkit-keyframes beating {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  60% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes beating {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  60% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.gallery .common-title {
  display: inline-block;
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 2px 2px 5px #aaa;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.gallery .common-title::first-letter {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
  margin-right: 10px;
  font-style: normal;
}

.gallery .common-title:hover {
  -webkit-transform: translate(-5px, -3px);
          transform: translate(-5px, -3px);
  text-shadow: 2px 5px 20px #aaa;
  cursor: pointer;
}

.gallery-img {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
}

.gallery-img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.first-row {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  opacity: 0;
  -webkit-transition: all linear 2.5s;
  transition: all linear 2.5s;
}

.second-row {
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  opacity: 0;
  -webkit-transition: all linear 2.5s;
  transition: all linear 2.5s;
}

.change .first-row,
.change .second-row {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.common-title1 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 2px 2px 5px #aaa;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.common-title1::first-letter {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
  margin-right: 10px;
  font-style: normal;
}

.common-title1:hover {
  -webkit-transform: translate(-5px, -3px);
          transform: translate(-5px, -3px);
  text-shadow: 2px 5px 20px #aaa;
  cursor: pointer;
}

.famous-writers {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0.8)), to(rgba(250, 250, 250, 0.8))), url(/res/img/img/writers-bg.jpeg) fixed center no-repeat/cover;
  background: linear-gradient(rgba(250, 250, 250, 0.8), rgba(250, 250, 250, 0.8)), url(/res/img/img/writers-bg.jpeg) fixed center no-repeat/cover;
}
/*# sourceMappingURL=style.css.map */